# MongoDB Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/vartalaap
MONGO_URL=

# Application Port
PORT=8000

# Secret for generating secure tokens or sessions (if needed)
# Example: a-very-strong-secret-key-that-no-one-can-guess
SECRET=
